$main-pink: #f4005c;
$main-gray: #414143;
$dark-pink: #d30141;

@mixin button($height, $width){
  width: $width;
  height: $height;
  background-color: $main-pink;
  color: white;
  text-align: center;
  border-radius: 7px;
  border: none;

  &:hover{
    background: $dark-pink;
    cursor: pointer;
  }
}

#shelter-details{
  display:flex;
  justify-content: center;



  #shelter-content{
    width: 400px;
    height: 600px;
    margin-top: 45px;
    padding-right: 50px;

    img{
      display: block;
      margin: 0 auto;
      width: 375px;
      height: 350px;
    }


    ul{
      list-style-type: none;
      padding:0;

      li{
        margin: 15px 0;
        width: 100%;
        border-bottom: 1px dashed black;
        display: flex;
        justify-content: space-between;
        font-size: 17px;

        button{
          margin-bottom: 5px;
          @include button(25px, 100px);
        }

      }


    }
  }
};