$main-pink: #f4005c;
$main-gray: #414143;
$dark-pink: #d30141;

@mixin button($height, $width){
  width: $width;
  height: $height;
  background-color: $main-pink;
  color: white;
  text-align: center;
  border-radius: 7px;
  border: none;

  &:hover{
    background: $dark-pink;
    cursor: pointer;
  }
}

#form-container{
  width: 550px;
  text-align: center;
  margin-top: 50px;
  padding-left: 30px;
  padding-bottom: 40px;
  border-left: 1px dashed $main-gray;

  form {

    label {
      display: block;
      margin: 20px 0;
    }

    input{
      width: 60%;
      margin-left: 15px;
    }

    select{
      width: 63%;
      margin-left: 15px;
    }

    input[type="submit"]{
      @include button(50px, 60%);
      margin-top: 30px;
    }

  }
}