$main-pink: #f4005c;
$main-gray: #414143;
$dark-pink: #d30141;

header{
  background: $main-pink;
  width: 100%;
  height: 65px;
  display: flex;

  #logo{
    width: 10%;

    img{
      width: 100%;
      height: 100%;
    }

  }

  nav{
    width:90%;

    ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;

      &:before{
        content: "";
        width: 5%;
      }


      &:after{
        content: "";
        width: 70%;
      }
    }

    li{
      margin: 10px 50px 10px 0;
      font-size: 25px;
      padding: 5px 15px;
      color: white;

      a{
        color:white;
        text-decoration: none;
        outline: none;
      }

      &:hover{
        background: $dark-pink;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }

  #logout-section{
    width: 5%;
    border-left: 1px white dashed;
    margin: 10px 0;
    padding:0;

    img{
      width: 50%;
      height: 60%;
      margin-left: 15px;
      padding: 10px;

      &:hover {
        cursor: pointer;
        background-color: $dark-pink;
        border-radius: 10px;
      }
    }

  }


}