$main-pink: #f4005c;
$main-gray: #414143;
$dark-pink: #d30141;

@mixin button($height, $width){
  width: $width;
  height: $height;
  background-color: $main-pink;
  color: white;
  text-align: center;
  border-radius: 7px;
  border: none;

  &:hover{
    background: $dark-pink;
    cursor: pointer;
  }
}


main{

  padding: 10px 45px;
  width: 80%;
  height: 775px;
  overflow:auto;

  h1{
    color: $main-gray;
  }

  #gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .gallery-tab {
      height: 250px;
      border: 1px solid $main-gray;
      border-radius: 10px;
      flex: 0 0 25%;
      margin: 20px calc(25% / 4) 20px 0;
      display: flex;
      justify-content: space-around;

      img{
        width: 40%;
        height: 85%;
        margin-top: 15px;
      }

      .tab-content{
        width: 50%;

        ul{
          margin: 10px 0;
          padding: 0;
          list-style-type: none;
        }

        h2{
          color: $main-pink;
          margin: 10px 0 ;
        }

        button{
          margin-top: 8px;
          @include button(35px ,70%);
        }
      }

    }
  }

  #expand{
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    width: 75px;
    height: 75px;
    background: $main-pink;
    border: none;
    padding-top: 15px;
    box-sizing: border-box;

    &:hover{
      background: $dark-pink;
      cursor: pointer;
    }

    img{
      width: 80%;
      height: 80%;
      display: block;
      margin: 0 auto;
    }

  }

}